{{ $year := now.Year }}
<footer>
  <div class="footer-content">
    <div class="footer-columns">
      <div class="footer-column">
        <h3>Envoy Ecosystem</h3>
        <ul class="footer-links">
          <li><a href="https://envoyproxy.io">Proxy <i class="fas fa-external-link-alt"></i></a></li>
          <li><a href="https://envoymobile.io">Mobile <i class="fas fa-external-link-alt"></i></a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Community</h3>
        <ul class="footer-links">
          <li><a href="https://communityinviter.com/apps/envoyproxy/envoy">Join us on Slack <i class="fas fa-external-link-alt"></i></a></li>
          <li><a href="https://docs.google.com/document/d/1i5wa1VsxIbQw7jbWvGmvy8C4Zpp7SGV1aVViSLgqU4M/edit?tab=t.0#heading=h.5229onpee4dg">Weekly Meetings <i class="fas fa-external-link-alt"></i></a></li>
          <li><a href="https://www.linkedin.com/company/envoy-cloud-native">LinkedIn <i class="fas fa-external-link-alt"></i></a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Contribute</h3>
        <ul class="footer-links">
          <li><a href="https://github.com/envoyproxy/gateway">GitHub <i class="fas fa-external-link-alt"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright">
      <small>Copyright © {{ $year }} Envoy Gateway Maintainers</small>
    </div>
  </div>
</footer>
