# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: docker
    directories:
      - /tools/docker/envoy-gateway/
      - /site
    schedule:
      interval: weekly
  - package-ecosystem: github-actions
    directories:
      - /
      - /tools/github-actions/setup-deps
    schedule:
      interval: weekly
    ignore:
      # skip to update retest, because it won't work with the latest version
      - dependency-name: "envoyproxy/toolshed/gh-actions/retest"
    groups:
      github-actions:
        patterns:
          - "actions*"
  - package-ecosystem: gomod
    directories:
      - "/"
    schedule:
      interval: weekly
    groups:
      github.com:
        patterns:
          - "github.com*"
      k8s.io:
        patterns:
          - "k8s.io/*"
          - "sigs.k8s.io/*"
      go.opentelemetry.io:
        patterns:
          - "go.opentelemetry.io*"
      golang.org:
        patterns:
          - "golang*"
          - "google*"
  - package-ecosystem: pip
    directories:
      - /tools/src/codespell
      - /tools/src/sphinx-build
      - /tools/src/yamllint
    schedule:
      interval: weekly
