# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: make-precommit
        name: make precommit
        entry: bash -c 'GITHUB_ACTION= make precommit'
        language: system
        pass_filenames: false
        stages: [pre-commit]
