{{/*
  Kapa.ai Widget Integration
  This hook adds the Kapa.ai assistant widget to all pages
*/}}
<script
  async
  src="https://widget.kapa.ai/kapa-widget.bundle.js"
  data-website-id="b232d295-36d9-4b0f-95da-a4524b622ef0"
  data-project-name="Envoy Gateway"
  data-project-color="#9333EA"
  data-modal-disclaimer-text="This AI assistant can help you find information about Envoy Gateway. Please verify important information from our official documentation."
  data-modal-example-questions="How do I install Envoy Gateway?,How do I authorize requests with EG?,What EG deployment options are there?,Can EG route outside of Kubernetes?,How do I configure TLS with EG?, Explain Envoy Gateway vs Proxy."
  data-modal-ask-ai-button-text="Ask AI"
  data-modal-title="Envoy Gateway Assistant"
  data-project-logo="/img/ask-ai-green.png"
  data-button-bg-color="#6610f2"
  data-button-hover-bg-color="#6610f2"
  data-button-border="none"
  data-button-width="90px"
  data-button-height="100px"
  data-button-position-bottom="24px"
  data-button-position-right="24px"
  data-button-z-index="1000"
  data-button-image-height="50px"
  data-button-image-width="50px"
  data-button-border-radius="5px"
  data-button-padding="5px"
  data-button-hover-animation-enabled="true"
  data-button-animation-enabled="false"
  data-search-mode-enabled="true"
  data-search-include-source-names='["Envoy Gateway"]'
  data-answer-cta-button-enabled="true"
  data-answer-cta-button-link="https://github.com/envoyproxy/gateway/discussions/new?category=q-a"
  data-answer-cta-button-text="Need more help? Ask a human!"
  data-modal-disclaimer="This AI assistant can help you find information about **Envoy Gateway** and **Proxy**. Please verify important information from our official documentation. If you need more help you can always [ask a human](https://github.com/envoyproxy/gateway/discussions/new?category=q-a)."
  data-modal-override-open-id="custom-ask-ai-button"

></script>
