deployment:
  envoyGateway:
    image:
      repository: ${ImageRepository}
      tag: '${ImageTag}'
    imagePullPolicy: Always
    imagePullSecrets: []
    resources:
      limits:
        cpu: 500m
        memory: 1024Mi
      requests:
        cpu: 100m
        memory: 256Mi
  ports:
    - name: grpc
      port: 18000
      targetPort: 18000
    - name: ratelimit
      port: 18001
      targetPort: 18001
    - name: metrics
      port: 19001
      targetPort: 19001
  replicas: 1
  pod:
    affinity: {}
    annotations: 
      prometheus.io/scrape: 'true'
      prometheus.io/port: '19001'
    labels: {}

config:
  envoyGateway:
    gateway:
      controllerName: gateway.envoyproxy.io/gatewayclass-controller
    provider:
      type: Kubernetes
    logging:
      level:
        default: info

createNamespace: false

kubernetesClusterDomain: cluster.local

certgen:
  job:
    annotations: {}
    resources: {}
    ttlSecondsAfterFinished: 0
  rbac:
    annotations: {}
    labels: {}
