deployment:
  envoyGateway:
    image:
      repository: ${ImageRepository}
      tag: ${ImageTag}
    imagePullPolicy: Always
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  kubeRbacProxy:
    image:
      repository: gcr.io/kubebuilder/kube-rbac-proxy
      tag: v0.11.0
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 5m
        memory: 64Mi
  ports:
    - name: grpc
      port: 18000
      targetPort: 18000
  replicas: 1

config:
  envoyGateway:
    gateway:
      controllerName: gateway.envoyproxy.io/gatewayclass-controller
    provider:
      type: Kubernetes

envoyGatewayMetricsService:
  ports:
    - name: https
      port: 8443
      protocol: TCP
      targetPort: https

createNamespace: false

kubernetesClusterDomain: cluster.local
