<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultPathExtensions</key>
	<string>md</string>
	<key>enforceFencedCodeBlocks</key>
	<false/>
	<key>sheetFormat</key>
	<string>foreign</string>
	<key>useInlineLinks</key>
	<false/>
</dict>
</plist>
