apiVersion: v1
kind: Service
metadata:
  name: envoy-gateway
  namespace: '{{ .Values.namespace | default .Release.Namespace }}'
  labels:
    control-plane: envoy-gateway
  {{- include "eg.labels" . | nindent 4 }}
spec:
  selector:
    control-plane: envoy-gateway
  {{- include "eg.selectorLabels" . | nindent 4 }}
  ports:
  {{- .Values.deployment.ports | toYaml | nindent 2 -}}
