{{- if .Values.topologyInjector.enabled }}
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: 'envoy-gateway-topology-injector.{{ .Release.Namespace }}'
  annotations:
    "helm.sh/hook": pre-install, pre-upgrade
    "helm.sh/hook-weight": "-1"
  {{- if .Values.topologyInjector.annotations }}
    {{- toYaml .Values.topologyInjector.annotations | nindent 4 -}}
  {{- end }}
  labels:
    app.kubernetes.io/component: topology-injector
  {{- include "eg.labels" . | nindent 4 }}
webhooks:
  - name: topology.webhook.envoyproxy.io
    admissionReviewVersions: ["v1"]
    sideEffects: None
    clientConfig:
      service:
        name: envoy-gateway
        namespace: '{{ .Release.Namespace }}'
        path: "/inject-pod-topology"
        port: 9443
    failurePolicy: Ignore
    rules:
      - operations: ["CREATE"]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods/binding"]
    namespaceSelector:
      matchExpressions:
        - key: kubernetes.io/name
          operator: In
          values:
            - {{ .Release.Namespace }}
{{- end }}