apiVersion: gateway.networking.k8s.io/v1
kind: GatewayClass
metadata:
  name: {{.GatewayClassName}}
spec:
  controllerName: gateway.envoyproxy.io/gatewayclass-controller
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{.GatewayName}}
spec:
  gatewayClassName: {{.GatewayClassName}}
  listeners:
    - name: http
      protocol: HTTP
      port: {{.GatewayListenerPort}}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{.HTTPRouteName}}
spec:
  parentRefs:
    - name: {{.GatewayName}}
  hostnames:
    - {{.HTTPRouteHostname}}
  rules:
    - backendRefs:
        - group: "gateway.envoyproxy.io"
          kind: Backend
          name: {{.BackendName}}
      matches:
        - path:
            type: PathPrefix
            value: /
---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: Backend
metadata:
  name: {{.BackendName}}
spec:
  endpoints:
    - ip:
        address: 0.0.0.0
        port: {{.EndpointPort}}
