apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "eg.fullname" . }}-certgen
  labels:
  {{- include "eg.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - create
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "eg.fullname" . }}-certgen
  labels:
  {{- include "eg.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: '{{ include "eg.fullname" . }}-certgen'
subjects:
- kind: ServiceAccount
  name: '{{ include "eg.fullname" . }}-certgen'
  namespace: '{{ .Release.Namespace }}'
