name: Benchmarking Tests at Scale
on:
  pull_request:
    branches:
      - "main"
      - "release/v*"
  workflow_dispatch:
    inputs:
      rps:
        description: "The target requests-per-second rate. Default: 10000"
        default: '10000'
        type: string
        required: false
      connections:
        description: "The maximum allowed number of concurrent connections per event loop. HTTP/1 only. Default: 100."
        default: '100'
        type: string
        required: false
      duration:
        description: "The number of seconds that the test should run. Default: 90."
        default: '90'
        type: string
        required: false
      cpu_limits:
        description: "The CPU resource limits for the envoy gateway, in unit 'm'. Default: 1000."
        default: '1000'
        type: string
        required: false
      memory_limits:
        description: "The memory resource limits for the envoy gateway, in unit 'Mi'. Default: 1024."
        default: '1024'
        type: string
        required: false

jobs:
  benchmark-test:
    name: Benchmark Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./tools/github-actions/setup-deps

      - name: Run Benchmark tests
        env:
          KIND_NODE_TAG: v1.28.0
          IMAGE_PULL_POLICY: IfNotPresent
          BENCHMARK_RPS: ${{ github.event.inputs.rps || 10000 }}
          BENCHMARK_CONNECTIONS: ${{ github.event.inputs.connections || 100 }}
          BENCHMARK_DURATION: ${{ github.event.inputs.duration || 90 }}
          BENCHMARK_CPU_LIMITS: ${{ github.event.inputs.cpu_limits || 1000 }}
          BENCHMARK_MEMORY_LIMITS: ${{ github.event.inputs.memory_limits || 2048 }}
        run: make benchmark

      - name: Read Benchmark report
        run: cat test/benchmark/benchmark_report.md
