name: Build and Test
on:
  push:
    branches:
      - "main"
      - "release-v*"
    paths-ignore:
      - "**/*.png"
  pull_request:
    branches:
      - "main"
      - "release-v*"
    paths-ignore:
      - "**/*.png"
env:
  GO_VERSION: 1.18.2
  ENVOY_GATEWAY_DEV_IMAGE: envoyproxy/gateway-dev
  ENVOY_GATEWAY_DEV_TAG: latest
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run yamllint
        run: |
          MAKE_IN_DOCKER=1 make lint-yamllint
      - name: Run Codespell
        run: |
          MAKE_IN_DOCKER=1 make lint-codespell
      - name: Run Golangci-lint
        run: |
          MAKE_IN_DOCKER=1 make lint-golint
      - uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true
      - name: Build
        run: make build
      - name: Test and report coverage
        run: make test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
          files: ./coverage.xml
          name: codecov-envoy-gateway
          verbose: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build
        uses: docker/build-push-action@v3
        with:
          file: ./Dockerfile
          context: bin
          platforms: linux/amd64
          tags: ${{ env.ENVOY_GATEWAY_DEV_IMAGE }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Login to DockerHub
        if: github.event_name == 'push'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Push to envoyproxy/gateway-dev
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v3
        with:
          file: ./Dockerfile
          context: bin
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ env.ENVOY_GATEWAY_DEV_IMAGE }}:${{ github.sha }}, ${{ env.ENVOY_GATEWAY_DEV_IMAGE }}:${{ env.ENVOY_GATEWAY_DEV_TAG }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
