name: Build and Test
on:
  push:
    branches:
      - "main"
      - "release-v*"
    paths-ignore:
      - "**/*.png"
  pull_request:
    branches:
      - "main"
      - "release-v*"
    paths-ignore:
      - "**/*.png"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./tools/github-actions/setup-deps

      # lint
      - run: make lint-deps
      - run: make -k lint

  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./tools/github-actions/setup-deps

      # test
      - run: make go.test.coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true
          files: ./coverage.xml
          name: codecov-envoy-gateway
          verbose: true

      # build and push image
      - name: Login to DockerHub
        if: github.event_name == 'push'
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push EG Dev Image
        if: github.event_name == 'push'
        run: make image.push.multiarch TAG=latest IMAGE_NAME=gateway-dev PLATFORMS="linux_amd64 linux_arm64"
