name: Return Action on PR Comment

on:
  issue_comment:
    types: [created]

permissions:
  contents: read

jobs:
  command:
    if: |
      ${{
         github.event.issue.pull_request
         && github.repository == 'envoyproxy/gateway'
         && github.actor != 'repokitteh-read-only[bot]'
         && github.actor != 'dependabot[bot]'
      }}
    name: Retest
    runs-on: ubuntu-22.04
    permissions:
      pull-requests: write
      actions: write
    steps:
    - uses: envoyproxy/toolshed/gh-actions/github/command@actions-v0.2.18
      name: Parse command from comment
      id: command
      with:
        text: ${{ github.event.comment.body }}
        matching: >-
          ^/(retest)

    # retest
    - uses: envoyproxy/toolshed/gh-actions/retest@actions-v0.2.17
      if: ${{ steps.command.outputs.command == 'retest' }}
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        comment-id: ${{ github.event.comment.id }}
        pr-url: ${{ github.event.issue.pull_request.url }}
        args: ${{ steps.command.outputs.args }}
