name: Hugo Docs
on:
  push:
    branches:
    - "main"
    - "release/v*"
    paths:
    - 'site/**'
    - 'tools/make/docs.mk'
  pull_request:
    branches:
    - "main"
    - "release/v*"
    paths:
    - 'site/**'
    - 'tools/make/docs.mk'

permissions:
  contents: read

jobs:
  docs-lint:
    runs-on: ubuntu-22.04
    steps:
    - name: Check out code
      uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633  # v4.1.2
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - uses: ./tools/github-actions/setup-deps

    - name: Run markdown linter
      uses: nosborn/github-action-markdown-cli@9b5e871c11cc0649c5ac2526af22e23525fa344d  # v3.3.0
      with:
        files: site/content/*
        config_file: ".github/markdown_lint_config.json"

    - name: Install linkinator
      run: npm install -g linkinator

    - name: Check links
      run: make docs docs-check-links

  docs-build:
    runs-on: ubuntu-latest
    needs: docs-lint
    permissions:
      contents: write
    steps:
    - name: Git checkout
      uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633  # v4.1.2
      with:
        submodules: true
        ref: ${{ github.event.pull_request.head.sha }}

    - uses: ./tools/github-actions/setup-deps

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@16361eb4acea8698b220b76c0d4e84e1fd22c61d  # v2.6.0
      with:
        hugo-version: 'latest'
        extended: true

    - name: Setup Node
      uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8  # v4.1.0
      with:
        node-version: '18'

    - name: Install Site Dependencies and Build Site
      run: make docs

    # Upload docs for GitHub Pages
    - name: Upload GitHub Pages artifact
      uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa  # v3.0.1
      with:
        # Path of the directory containing the static assets.
        path: site/public
        # Duration after which artifact will expire in days.
        # retention-days: # optional, default is 1

  # This workflow contains a single job called "build"
  docs-publish:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: docs-build

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      deployments: write
      id-token: write   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e  # v4.0.5
