name: Docs
on:
  push:
    branches:
      - "main"
    paths-ignore:
      - "**/*.png"
  pull_request:
    branches:
      - "main"
    paths-ignore:
      - "**/*.png"

jobs:
  docs-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Run markdown linter
        uses: nosborn/github-action-markdown-cli@v3.2.0
        with:
          files: docs/*
          config_file: ".github/markdown_lint_config.json"

  docs-build-and-publish:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    needs: docs-lint

    steps:
      - uses: actions/checkout@v3
      - uses: ./tools/github-actions/setup-deps

      - name: Generate EG Pages
        run: make docs

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/html
