name: Experimental Conformance Test
on:
  push:
    paths:
    - 'charts/gateway-helm/crds/gatewayapi-crds.yaml'
  pull_request:
    paths:
    - 'charts/gateway-helm/crds/gatewayapi-crds.yaml'
    - 'test/conformance/*.go'
  # Add workflow_dispatch to trigger this workflow manually by maintainers.
  workflow_dispatch:

permissions:
  contents: read

jobs:
  experimental-conformance-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ v1.26.6, v1.27.3, v1.28.0 ]
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4.1.1
    - uses: ./tools/github-actions/setup-deps

    # gateway api experimental conformance
    - name: Run Experimental Conformance Tests
      env:
        CONFORMANCE_REPORT_PATH: conformance-report-k8s-${{ matrix.version }}.yaml
        KIND_NODE_TAG: ${{ matrix.version }}
        IMAGE_PULL_POLICY: IfNotPresent
      run: make experimental-conformance

    - name: Upload Conformance Report
      uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392  # v4.0.0
      with:
        name: conformance-report-k8s-${{ matrix.version }}
        path: ./test/conformance/conformance-report-k8s-${{ matrix.version }}.yaml
