name: Issue and PR comment commands

permissions: {}

on:
  issue_comment:
    types:
      - created
      - edited

jobs:
  execute:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: jpmcb/prow-github-actions@v1.1.3
        with:
          prow-commands: '/assign 
            /unassign
            /milestone'
          github-token: "${{ secrets.GITHUB_TOKEN }}"
