name: License Scan

on:
  pull_request:
    branches:
    - "main"
  push:
    branches:
    - "main"

permissions:
  contents: read

jobs:
  scan:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # v4.1.7
    - name: Run scanner
      uses: google/osv-scanner-action/osv-scanner-action@f0e6719deb666cd19a0b56bc56d01161bd848b4f  # v1.8.5
      with:
        # TODO enable call analysis once https://github.com/google/osv-scanner/issues/1220 is resolved
        scan-args: |-
          --skip-git
          --experimental-licenses=Apache-2.0,BSD-2-Clause,BSD-2-Clause-FreeBSD,BSD-3-Clause,MIT,ISC,Python-2.0,PostgreSQL,X11,Zlib
          --no-call-analysis=go
          ./
