name: Trivy

on:
  push:
    branches:
    - "main"
  schedule:
  - cron: '55 17 * * 5'

permissions:
  contents: read

jobs:
  image-scan:
    permissions:
      contents: read  # for actions/checkout to fetch code
    name: Image Scan
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938  # v4.2.0

    - name: Build an image from Dockerfile
      run: |
        IMAGE=envoy-proxy/gateway-dev TAG=${{ github.sha }} make image

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@5681af892cd0f4997658e2bacc62bd0a894cf564  # v0.27.0
      with:
        image-ref: envoy-proxy/gateway-dev:${{ github.sha }}
        exit-code: '1'
