name: Trivy

on:
  push:
    branches:
    - "main"
  schedule:
  - cron: '55 17 * * 5'

permissions:
  contents: read

jobs:
  image-scan:
    permissions:
      contents: read  # for actions/checkout to fetch code
    name: Image Scan
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332  # v4.1.7

    - name: Build an image from Dockerfile
      run: |
        IMAGE=envoy-proxy/gateway-dev TAG=${{ github.sha }} make image

    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@595be6a0f6560a0a8fc419ddf630567fc623531d  # v0.22.0
      with:
        image-ref: envoy-proxy/gateway-dev:${{ github.sha }}
        exit-code: '1'
